@tailwind base;
@tailwind components;
@tailwind utilities;
main{
  padding-top: 40px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} 

  @media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255, 255, 255; 
    --background-start-rgb: 30, 30, 30;
     --background-end-rgb: 50, 50, 50;
  }
} 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.leftSection{
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.leftSection .logo img{
  height: 45px;
  border-radius: 50%;
}
.container .leftSection span{
  font-size: 30px;
}

.container .leftSection span::first-letter{
  color:#FF6F00;
  font-size: 30px;
  font-weight: 600;

}

.container{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  position: fixed;
  z-index: 1000;
 
}

.rightSection a{  
  justify-content: flex-end;
  margin:  8px;
  
}
.rightSection{
  align-items: center;
  place-items: center;
}
.rightSection #cv-download{
  background-color: #FF6F00;
  padding:8px;
  border-radius: 10px;
}
#cv-download:hover{
  font-size:1.08rem;
  background-color: #e36708;

}
.rightSection a:hover{
  color: #FF6F00;
  font-size: 1.05rem;


}
.rightSection a:nth-of-type(7):hover{
  color: white;
}

.firstPage{
  display: flex;
  justify-content: space-around;
  height: 90vh;
}
.image-here img{
  margin-top: 65px;
  border-radius: 80px;
  height: 300px;
}
.firstPage .intro-lines{
  align-items: center;
  justify-content: center;
  width:40vw;
  padding: 60px;
}
.intro-lines span2{
  font-size: 20px;
  color: orange;
}
.intro-lines span3 , span4{
  font-size:40px;
  font-weight: 700;
}

span4{  
  margin-left: 100px;
}
.intro-lines button{
  background-color: #FF6F00; 
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
}
.intro-lines button:hover{
  font-size:1.05rem;
  background-color: #f98933;


}
.firstPage .imgSection{
  width:30%;
}
.imgSection .contactIcons a{
  color: rgb(155, 75, 5);
  font-size: 40px;
  margin: 10px;
}
.contactIcons a:hover{
  color: #FF6F00;
  font-size: 2.7rem;
}


/* Second /About me Page  */
.aboutContainer{ 

  display: flex;
  justify-content: space-around;
 
  height: 90vh;

}
.aboutContainer .photoContainer{
  width: 30%;
  padding: 10px;
  margin-left: 100px;
}
.aboutContainer .aboutMeContainer{
  width: 50%;
  position: relative;
  left: -90px;
}
.photoContainer .imgBox img{
  border-radius: 80px;
  height: 400px;

}
.aboutMeContainer .aboutLine{
  
  font-size: 30px;
  font-weight: 600;
}
.aboutMeContainer .ux-box{
  width: 80%;
  height: 15px;
  background-color: white;
  border-radius: 10px;
}
.ux-box .ux-skill{
  width:80%;
  background-color: Orange;
  height: 15px;
  border-radius: 10px;
}
.ux-box .app-skill{
  width:75%;
  background-color: Orange;
  height: 15px;
  border-radius: 10px;
}
.ux-box .web-skill{
  width:90%;
  background-color: Orange;
  height: 15px;
  border-radius: 10px;
}
.ux-box .G-skill{
  width:65%;
  background-color: Orange;
  height: 15px;
  border-radius: 10px;
}
.ux-box .nextjs-skill{
  width:90%;
  background-color: Orange;
  height: 15px;
  border-radius: 10px;
}

.serviceContainer{
  height: 90vh;  
  text-align: center;  
}
 .servicesboxes .servicebox{
  height: 250px;
  width: 250px;
  background-color: rgb(234, 234, 234);
  text-align: left;
  
  border-radius: 15px;
  margin: 0 auto;
 }
 .servicesboxes{
  display: flex;
  margin: 10px;
 }
 .serviceContainer heading{
  font-size: 30px;
  font-weight: 600;
 
 }
 .serviceContainer p{  
  height: 10vh;
  width: 40vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  
 }
 .servicebox img{
  height: 70px;
  margin: 10px;
  

 }
 .servicebox span{
  color:black;
  font-size: 20px;
  font-weight: 600;
  
 }
 .servicebox p{
  width: 100%;
  color: black;
  font-size: 15px;
  padding: 10px;
 }
 .servicebox p:hover{
  font-size: 1.02rem;
 }
 .servicebox:hover{
  background-color: white;
 }
 .projectContainer {
  text-align: center;
  height: 100vh;
 }
 
 .projectContainer span {
  font-size: 30px;
  font-weight: 600;
 }
 .projectContainer p{
  height: 10vh;

  width: 40vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .projectContainer .nav-btns button{
  background-color: whitesmoke;
  color: black;
  margin: 10px;
  padding:7px;
  border-radius: 10px;
 }
 .nav-btns button:hover{
  background-color: #FF8C00;
  font-size: 1.05rem;
 }
 .projectContainer .projectList{
  display: flex;
  
  align-items: center;
  justify-content: center;
 }
 .projectContainer .projectList .box{
  height: 350px;
  width: 350px;
  
  margin: 0 15px;
  border-radius: 10px;

 }
 .box .img-box img{
  width: 100%;
  border-radius: 10px;
 }
 .box .img-box{
  text-align: left;
 }
.box .img-box p{
  width: 100%;
  padding: 15px;
}
.box .img-box span1{
  color:rgb(155, 75, 5);
  font-size: 20px;
  font-weight: 500;
}
.projectList .box:hover{
  font-size: 1.05rem;
}
.box .img-box span1:hover{
  font-size: 1.5rem;
}
.testimonialsContainer{
  text-align: center;
  
  height: 90vh;
}
.testimonialsContainer span{
  font-size: 30px;
  font-weight: 600;
}
.testimonialsContainer p{
  width: 40vw;
  height: 10vh;
  margin: 0 auto;
  align-items: center;
  font-size: 15px;
}
.testimonialsContainer .slidingimages{
  display: flex;
  overflow: hidden;
  width: 100%;
  
   justify-content: center;
   position: relative;
   
}
.testimonialsContainer .slidingimages .containimg{
  height: 30vh;
  width: 30vw;
  background-color: rgb(241, 241, 241);
  margin: 10px;
  display:flex;
  border-radius: 10px; 
  transition: opacity 0.5s ease;
}

.containimg img{
  width: 40%;
  
  height: 80%;
  
  margin: 20px 0px 0px 10px;
  border-radius: 50%;
}
.containimg p{
  color: black;
  padding: 15px;
  font-size: 15px;
}
.containimg p:hover{
  font-size: 1.02rem;
}
.testimonialsContainer .slidingindex{
  height: 10px;
  width: 100%;
  
  display:flex;
  justify-content: center; 
  
}
.slidingindex .indexbox{
  margin: 0px 0px 5px 5px;
  background-color: white;
  height: 10px;
  width:25px;
  border-radius: 3px;
}
.slidingindex .indexbox:hover{
  background-color: orange;
  cursor: pointer;
}

.connectionPage {
  text-align: center;
  height: 40vh;
}
.connectionPage span{
  font-size: 30px;
  font-weight: 600;

}
.connectionPage p{
  width: 40vw;
  height: 10vh;
  margin: 0 auto;
  font-size: 15px;
}
.connectionPage .contactSection{
  margin-top: 25px;
}
.contactSection input{
  width: 30vw;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #FF6F00;
  margin-right: 10px;
}
.connectionPage .contactSection button{
  background-color: #FF6F00;
  padding:5px;
  font-weight: 500;
  border-radius: 6px;
}
.contactSection button:hover{
  font-size: 1.02rem;
}
.contactSection input::placeholder{
  
  font-size: 12px;
}
.footerPage{
  height: 50vh;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  
}
.footerPage .leftSection1{
  display: flex;
  align-items: center;
  margin: 50px;
  
  width: 200px;

}
.footerPage .leftSection1 img{
  height: 50px;
  border-radius: 50%;
  margin:5px;
}
.footerPage .leftSection1 span{
  
  font-size:30px;
}
.leftSection1 span::first-letter{
  color:#FF6F00;
  font-weight:600;
}
.logo-name .first-bold::first-letter {
  font-weight: bold;

}
.footerPage .contactIcons{
  margin-top:20px;
}
.footerPage .contactIcons a{
  font-size: 30px;
  margin: 5px;
}

.footerPage .copyright span{
  color:#FF6F00;
  font-weight: 500;
}
.footerPage .copyright{
  width: 100%;
  background-color: black;
  height: 35px;
  text-align: center;

}